<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/member/create}" method="post">
        <div class="container">
            <label for="nick">nick</label>
            <input type="text" id="nick" name="nick" placeholder="nick을 입력하세요.">
            <label for="pw">pw</label>
            <input type="text" id="pw" name="pw" placeholder="pw을 입력하세요.">
            <label for="email">email</label>
            <input type="text" id="email" name="email" placeholder="email을 입력하세요.">
        </div>
        <button type="submit">등록</button>
    </form>
</body>
</html>