<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.typmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/member/find-id" method="get">
        <div class="container">
            <label for="id">id</label>
            <input type="text" id="id" name="id" placeholder="수정할 계정의 ID를 입력하세요.">
        </div>
        <button type="submit">찾기</button>

        <br>
        <br>

        <tr th:if = "${member.id != 0}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.nick}"></td>
            <td th:text="${member.pw}"></td>
            <td th:text="${member.email}"></td>
        </tr>
    </form>
</body>
</html>